/.idea/
/vendor/
/Readme.txt
/Upgrading.txt
/Web/
/Packages/Framework/
/Packages/Libraries/
/Packages/Application/TYPO3.Surf/
/Packages/Application/TYPO3.Twitter.Bootstrap/
/Packages/Application/Flowpack.Behat/
/Data/
/bin/
/Configuration/README
/Configuration/PackageStates.php
/Configuration/Development/Settings.yaml
/flow
/flow.bat
/Build/Reports/UnitTests.xml
/Build/BuildEssentials
/Build/Behat